In [2]:
print("Twinkle, twinkle, little star,\n\t How I wonder what you are! \n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [1]:
import sys

In [2]:
sys.version

'3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]'

In [3]:
import datetime

In [16]:
y = datetime.datetime.now()
print(str(y))

2019-11-05 17:05:03.698960

In [15]:
str(y)

'2019-11-05 17:04:42.362995'

In [ ]:
r = input("enter the radius of the circle")
print()

In [8]:
import math

In [9]:
x = math.pi

In [10]:
x

3.141592653589793

In [17]:
R = float (input("enter the radius of the circle: "))
a = x*R**2
print(a)

enter the radius of the circle: 1
3.141592653589793

In [21]:
r = float (input("enter the radius of the circle: "))
math.pi*r**2

enter the radius of the circle: 78

19113.4497044403

In [23]:
f_name=input("enter first name")
L_name=input("enter last name")
print(L_name +" "+ f_name)

enter first namemuhammad
enter last nameadeel
adeel muhammad

In [26]:
a =int(input("enter 1st numnber: "))
b = int(input("enter 2nd numnber: "))
print(a + b)

enter 1st numnber: 5
enter 2nd numnber: 5
10